.tabs-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.tabs-header {
  display: flex;
  background-color: var(--white);
  justify-content: space-between;
}

.tab {
  flex: 1;
  padding: 5px;
  margin-left: 10px;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-bottom: 0.5px solid var(--gray);

  &:hover {
    background-color: var(--light-gray);
  }

  &.active {
    font-weight: bold;
    border-bottom: 0.5px solid var(--primary);
  }
}

.tabs-content {
  flex: 1;
  overflow: auto;
  background-color: var(--gray);
}