.tabs-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.tabs-header {
  display: flex;
  background-color: var(--white);
  gap: 10px; // Add spacing between tabs
}

.tab {
  padding: 5px;
  margin-left: 10px;
  font-size: 11px;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-bottom: 1px solid var(--gray);
  margin-bottom: 5px;

  &:hover {
    background-color: var(--light-gray);
  }

  &.active {
    border-bottom: 2px solid var(--primary);
  }
}

.tabs-content {
  flex: 1;
  overflow: auto;
  background-color: var(--gray);
}