.welcome {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  height: 100%;
  text-align: center;
  padding: 2rem;
  background-color: var(--gray);
  color: var(--black);
  gap: 1rem;

  svg {
    margin-bottom: 1rem;
    width: 48px;
    height: 48px;
    fill: var(--black);
  }

  h1 {
    font-size: 2rem;
    margin-bottom: 0.5rem;
    font-weight: 500;
    color: var(--black);
  }

  p {
    font-size: 0.9rem;
    color: var(--black);
    opacity: 0.7;
    margin-bottom: 2rem;
  }

  .instructions {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    font-size: 0.9rem;

    div {
      color: var(--black);
      opacity: 0.5;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0.5rem;

      svg {
        margin-bottom: 0;
        width: 16px;
        height: 16px;
      }
    }
  }
}